app/.gradle/
app/.idea/
app/android/android.iml
app/android/libs/armeabi-v7a/
app/app.iml
guilib/src/ui/mainWindow.ui.autosave
/lib
.DS_Store
.settings/language.settings.xml
app/android/.classpath
app/android/.project
app/android/AndroidManifest.xml
app/android/res/raw/
app/android/.idea/
build.log
build_android/
rtabmap_cloud.pcd
rtabmap_trajectory.txt
build/
*.db
debug.txt
